*{
    font-family: 'Source Sans 3', sans-serif;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 0px; /* Adjust the gap between columns as needed */
    height: 100%;
    width: 100%;
}

.left-column {
    background-color: #f0f0f0; /* Change the background color as desired */
    padding: 20px;
}

.right-column {
    background-color: #e0e0e0; /* Change the background color as desired */
    padding: 20px;
}

.contact-section {
    background-color: #d0d0d0;
    padding: 20px;
    height: 100%;
}

.contact-section h2 {
    margin-bottom: 10px;
}

.contact-section button {
    display: block;
    margin-top: 10px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-section button a {
    text-decoration: none;
    color: white;
}

.contact-section button:hover {
    background-color: #45a049;
}
